@import "tailwindcss";

#root {
  height: 100%;
  width: 100%;
  flex-grow: 1;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100dvh;
}

.chart-wrapper {
  @apply bg-[#F5F5F5];
  @apply shadow-md;
  @apply rounded-xl;
  @apply p-6;
  @apply mb-8;
}